img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  .bg--mobile{
    display: none;
  }
  .hero-container {
    /* background: url('/public/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .hero-container > h1 {
    margin-left: 450px;
    color: #fff;
    font-size: 50px;
    margin-top: -100px;
   
  }
  
  .hero-container > p {
    margin-left: 450px;
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-left: 450px;
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin-left: 450px;
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .bg--mobile{
      display: block;
      width: 100%;
    }
    .img {
      display: none;
    }
    .hero-container > h1 {
      margin-left:0;
      font-size: 40px;
      margin-top: -100px;
      text-align: center;
          /* background: url('/public/images/img-home.jpg') center center/cover no-repeat; */

    }
  
    .hero-container > p {
      font-size: 30px;
      margin-left: 0;

    }
    .hero-btns {
      margin-left: 0;
      margin-top: 32px;
    }
    
    .hero-btns .btn {
      margin-left: 0x;
      margin: 6px;
    }
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
    
  }